* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section1 {
    height: 200vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, #bf63e0, #d810a3, #dc47a6, #923579, #c5bcd7);
}

body {
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, #c6b6c2, #c5bcd7);

}

.navbar1 {

    background-color: rgb(2, 2, 64);
    padding-top: 200px;
    width: 100%;
    padding: 5px;
    position: fixed;
    margin-top: 40px;
    z-index: 11;

}

.offcanvas-header {
    margin-top: 40px;
    background-color: rgb(29, 4, 59);
}

.offcanvas-body {
    max-height: 100vh;
    overflow-y: auto;
}

.profile {
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    align-content: center;
    border-radius: 50%;
}

.trendItems {
    display: flex;
    padding: 5px;
    width: 100%;
    height: 30px;
    text-align: center;
}

#alignTrend {
    display: flex;
    justify-content: space-between;
}

#alignTrend p {
    margin-top: -3.5px;
    font-weight: 500
}

#alignTrend i {
    margin-top: 3px;
}

#offcanLink {
    text-decoration: none;
    color: rgb(56, 56, 56);
}

.trendItems a {
    text-decoration: none;
    color: rgb(56, 56, 56);
    font-size: 15px;
    font-weight: 500;
}

.trendItems:hover {
    background-color: rgb(181, 178, 178);
    color: black;

}

.digi a {
    text-decoration: none;
    color: black;
}

.shopcat a {
    text-decoration: none;
    color: black;
}



.top {
    background: rgb(31, 31, 41);
    height: 50px;
    align-content: center;
    position: fixed;
    width: 100%;
    z-index: 1050;
    top: 0;
    /* overflow-x: scroll; */
    white-space: nowrap;


}

.top::-webkit-scrollbar {
    display: none;
}

.pin {
    color: rgb(108, 110, 111);
    font-size: 11px;

}

a .icon {
    font-size: 12px;
    margin-top: -18px;
}

.searchbar {
    position: relative;
    width: 50vw;
    background-color: white;
    height: 33px;
    margin: 9px;
    margin-left: 15px;
    border-radius: 4px;
    /* overflow: hidden; */


}

.srchdrop .btn {
    height: 33px;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    align-items: center;
    background-color: rgb(221, 221, 221);
    border: none;
    width: 48px;
    position: absolute;
    font-size: 12px;
    color: rgb(76, 75, 75);
    /* margin-top: -4.5px; */

}

.srch {
    align-content: center;
    border: none;
    font-size: 14px;
    width: 36vw;
    border-color: white;
    /* text-align: center; */
}

input:focus {
    outline: none;
    /* Removes the default outline */
    border: none;
    /* Removes the border */
}

.iconbtn {
    background-color: rgba(234, 172, 118, 0.997);
    width: 40px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    height: 33px;
    position: absolute;
    right: 0;
    border: none;
}

/* .custom-dropdown {
    align-content: center;
    margin: 5px;
    outline: none;
    border: none;

} */

button :focus {
    outline: none;
    border: none;
}

button span {
    font-size: 12px;
}

.dropdown-menu {
    width: 380px;
}

.signin {
    font-size: 12px;
    font-weight: 600;
    color: rgb(222, 221, 221);

}

.accList {
    font-size: 14px;
    margin-left: 27px;

}

.accRightside {
    margin-left: -80px;
}

.order a {
    text-align: justify;
    text-decoration: none;

}

.accList1 {
    font-size: 14px;
}

.cart {
    margin-left: 30px;
    display: flex;
    position: relative;
}

.cartcontent {
    position: absolute;
    margin-left: 68px;
    margin-top: -20px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.count1 {
    text-decoration: none;
    font-size: 12px;
    background-color: orangered;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    color: white;
    position: absolute;
    margin-top: -35px;
    margin-left: 60px;
}


.carButton {
    margin-top: -100px;


    border: 10px solid #007bff;
    /* Border color and thickness */
    border-radius: 5px;
    /* Optional: rounded corners */
    padding: 35px;
    /* Optional: padding for spacing */
    background-color: transparent;
}

.greatSale {
    position: relative;
    width: 100%;
    height: 100vh;
    white-space: nowrap;
    padding-top: 80px;

}

.carousel-inner {
    display: flex;
}

.carousel-item {
    flex: 0 0 auto;
    width: 100%;
}



.allCard {
    position: absolute;
    z-index: 10;
    display: flex;
    margin-top: -400px;
    margin-left: 120px;
    align-content: center;
    align-items: center;
    justify-content: center;


}

.cards {
    /* position: absolute; */
    height: 280px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    margin-left: 50px;
    text-align: center;
    z-index: 1;
    margin-top: 50px;

}


.cardHead {
    margin-top: 10px;
    font-size: .75rem;
    font-weight: 650;
    text-align: justify;
    line-height: 16.5px;
    margin-left: 35px;
    color: black;

}

#card2 .cardHead {
    padding-top: 8px;
    margin-left: 15px;
}

.shopImg img {
    margin-top: 10px;
    height: 200px;
    width: 190px;
    background-size: cover;
}

.explore {
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    color: rgb(34, 122, 49);
    margin-left: -110px;

}

.explore:hover {
    color: red;
}

.allCard a {
    text-decoration: none;
}

.girls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    margin-top: -15px;
}

.girlsItem {
    margin-top: 20px;
}

.girlsHead {
    text-align: start;
    margin-left: 14px;
    font-size: 12px;
}

.sec2 {
    /* background-color: rgb(116, 116, 114); */
    height: 100vh;
    margin-top: -20px;
}

.container1 {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 20px;
    width: 95%;

    background-color: rgb(234, 216, 115);
    height: 450px;
    padding: 10px;
}

.scroll {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    /* Ensures no vertical scrolling */
    gap: 1rem;
    /* Adds space between the cards */
    padding: 1rem 0;
    /* Optional padding for better appearance */
    scroll-behavior: smooth;
    /* Smooth scrolling effect */
    width: 100%;
    /* Ensure the container takes full width */
}

.card {
    flex: 0 0 auto;
    /* Prevents cards from shrinking */
    width: 18rem;
    /* Consistent card width */
    height: 22rem;
    /* Consistent card height */
}

.scroll::-webkit-scrollbar {
    display: none;
}


.card-title {
    font-size: 12px;
    font-weight: bold;
}

.card-title .off {
    background-color: rgb(184, 6, 6);
    padding: 2px;
    border-radius: 3px;
    text-align: center;
}

sup {
    margin-left: -3.5px;
}




.desc {
    font-size: 14px;
    margin-top: -19px;
}

.back {
    display: flex;
    height: 430px;

}

.container2 {
    background-color: white;
    width: 22.9%;
    height: 380px;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 2px;

}

.container2 .girls {
    /* margin-left: 30px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.offr {
    color: green;
}

.offr:hover {
    color: rgb(175, 20, 20);
}

.uptoText {
    font-size: 10px;
    font-weight: 500;
}

.sectionName {
    margin-top: -15px;
}

.signup {
    width: 100%;
    background-color: white;
    height: 200px;
    margin-top: 30px;
    padding-right: 15px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signBorder {
    width: 100%;
    height: 150px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.signButton {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 204, 0);
    font-weight: 500;
    font-size: 12px;
}

.newUser {
    font-size: 11px;
    margin-top: 5px;
    font-weight: 500;
}

.newUser span {
    color: rgb(54, 170, 133);
}

.newUser a {
    text-decoration: none;
}

.newUser span:hover {
    color: red;
}

.backtop {
    height: 50px;
    width: 100%;
    background-color: rgb(62, 62, 68);
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    text-decoration: none;
}
.mainFooter{
    height: 500px;
    width: 100%;
    background-color: #1a1355;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.centerDiv{
    height: 400px;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: white;
    padding: 40px;
    margin-top: 180px;
}
.knowUs{
    display: flex;
    flex-direction: column;
  column-gap: 50px;
}
.knowUs a{
    color: white;
   
}
.knowUs a:hover{
    text-decoration: underline;
}
.hrDiv hr{
    height: 1px;
    background-color: white;
    border: none;
}
.underHrDiv{
    display: flex;
    justify-content: center;align-items: center;
}
.lastdrop{
    border: 1px solid white;
    height: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;

   
}
.flagBorder{
    display: flex;
    border: 1px solid white;
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
}
.flagBorder p{
    margin-top: 13px;
    margin-left: 5px;
    font-size: 12px;
}
.blackOuter{
   
    background-color: black;
    height: 300px;
    padding-top: 20px;
}
.blackFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
    
}
.blackFooter a{
    color: white;
}
.blackFooter a:hover{
    text-decoration: underline;
}
.condition{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.condition a:hover{
    text-decoration: underline;
}
.copy{
    text-align: center;
}

@media(max-width:1200px) {
    .allCard {
        flex-wrap: wrap;
        margin-left: 10px;
        margin-top: -400px;
      
    }

    .cards {

        margin: 10px;
    }
    

    .sec2 {

        margin-top: 720px;
    }

    .container1 {
        margin-top: 560px;
    }
    /* .mainFooter{
        height: 100%;
    }
    .centerDiv{
        margin-top: 0;
       background-color: red;
        height: 600px;
    } */
}

@media(max-width:768px) {
    .allCard {
        margin-top: -500px;
        margin-left: 0;
    
    
    }
    .block{
        margin-top: 50px;
    }
    .back{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 97%;
        justify-items: center;
        /* background-color: red; */
        /* margin-top: -80px; */
        height: 880px;
        /* margin-left: 20px;
        margin-right: 20px; */
    }
    .sec2{
        margin-top: -300px;
      }
    .container2{
        width: 225px;
        
    }
    .mainFooter{
        height: 100%;
    }
    .centerDiv{
        margin-top: 0;
        height: 500px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .blackOuter{
        height: 600px;
        
    }
    .blackFooter{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        /* text-align: center; */
        padding-right: 50px;
    }
    
}
@media(max-width:450px){
    .back{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
    .allCard{
        margin-bottom: 200px;
      
    }
    /* .container1{
        margin-top: 50px;
    } */
    .sec2{
        margin-top: 150px;
        padding-top: 1px;

        justify-items: center;
    }
}


